<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle de Ar condicionado</title>
</head>
<body>
    <div class="container">
        <h1>Escritório</h1>

        <div class="bloco">
            <h2>Recepção</h2>
            <p>Temperatura: <span id="temp">--</span> &deg;C</p>
            <p>Presença: <span id="presence">--</span> </p>
            <p>Tempo: <span id="tempo">--</span>s </p>
        </div>
        <div class="erro">
            <p>ERRO: <span id="error"></span></p>
        </div>
    </div>

    <script src="{{ url_for('script', filename='script.css') }}"></script>">
        
    </script>
</body>
</html>