* {
    font-family: "Intel One Mono";
}
body,html {
    margin: 0px;
    padding: 0px;
}
body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    " header header header"
    " . main ."
    "foot foot foot"
    ;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    grid-area: header;
}
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5e8ce2;
    color: #fff;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.cabecalho > h1 {
    font-size: 4em;
    margin: 0px 20px;
}
.cabecalho > p {
    font-size: 2em;
    margin: 0px 10px;
}
header > nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5e8ce250;
    font-size: 1.5em;
}
header nav  a {
    margin-left: 20px;
    margin-right: 20px;
}
main {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 4px #000;
    grid-area: main;
    background-color: #e9f5f7;
}
section {
    padding: 10px;
    border: 3px solid #5082e0;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.conteudo {
    margin-left: 50px;
}
.conteudo > p {
    text-align: justify;
    width: 75%;
}
.conteudo p, .conteudo li {
    font-size: 1.2em;
}
section > h2 {
    margin: 0 20px;
    font-size: 3em;
}
#videos {
    background-color: #5e8ce2;
    color: #fff;
}
.video-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: foot;
    background-color: #5e8ce2;
    color: #fff;
}

footer > p {
   font-size: 1em;
}

a {
    text-decoration: none;
}
a:link {
    color: #cf2727;
}
a:visited {
    color: #ec6b6b;
}
a:hover {
    text-decoration: underline;
}

